<div class="center jumbotron">
    <div class="text-center">
        <h1>Welcome to the kadaiTasklist</h1>
        <%= link_to '新規ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>